//Imports
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

// Variables
$black: #333;
$shadow: rgba(51, 51, 51, 0.466);
$white: #fff;
$bg-prim: #33ccff;
$bg-sec: #ff99cc;
$bg-color: linear-gradient(to bottom right, $bg-prim 0%, $bg-sec 100%);

// Basic html rules
* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: $black;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	transition: 0.3s linear;
}

a:hover {
	opacity: 1;
}

//Main
.b-holder-main {
	display: flex;
	flex-direction: column;
	background: $bg-color;
}

//Navbar
.e-navbar-logo {
	width: 4em;
}

nav {
	display: flex;
	justify-content: space-between;
}

.b-holder-logo {
	margin: 1em 2em;
	opacity: 0.75;
}

.b-holder-navlinks {
	display: flex;
	li {
		margin: 2em 3em;
		a {
			font-size: 2rem;
			color: $white;
			font-weight: 500;
		}
	}
}

//Greeting
.b-holder-greetings {
	display: flex;
	padding: 10em 0;
	flex-direction: column;
	align-items: center;
	.e-text-greet {
		font-weight: 400;
		font-size: 4rem;
	}
	.e-text-greet-sub {
		font-size: 2rem;
		font-weight: 400;
		width: 50%;
		text-align: center;
	}
}

.e-text-category {
	text-align: center;
	font-size: 2.8rem;
	text-transform: uppercase;
	font-weight: 400;
}

.e-text-category-sub {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 400;
}
//About

.b-holder-about {
	background-color: $white;
	padding: 10em 0;
	transform: skew(0deg, -5deg);
	.m-title-category {
		transform: skew(0deg, 5deg);
	}
	.m-subtext-category {
		transform: skew(0deg, 5deg);
		margin: 0 auto;
		text-align: justify;
		width: 70%;
	}
}

//Projects
.b-holder-project {
	padding: 20em 0;
}

.b-holder-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.b-container-project {
	background-color: $white;
	width: 30em;
	height: 20em;
	margin: 2em 5em;
	border-radius: 0.5em;
	box-shadow: 0 0.2em 4em $shadow;
}


//Contact
.b-holder-contact {
	padding: 20em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	.b-holder-form {
		display: flex;
		flex-direction: column;
		width: 40%;
		.e-input-contact {
			border: none;
			padding: 1em 0.4em;
			background-color: transparent;
			border-bottom: $black solid 0.2em;
		}

		.e-input-contact:focus {
			outline: none;
		}

		.e-text-label {
			color: $white;
			font-size: 1.6rem;
			transform: scale(2);
		}
	}
}
// float labels
@mixin float-label-container {
	display: block;
	position: relative;
}

@mixin float-label {
	label,
	>span {
		position: absolute;
		left: 0;
		top: 0;
		cursor: text;
		font-size: 75%;
		opacity: 1;
		transition: all .2s;
		@content;
	}
}

@mixin float-label-input {
	&::placeholder {
		opacity: 1;
		transition: all .2s;
	}
	&:placeholder-shown:not(:focus)::placeholder {
		opacity: 0;
	}
}

@mixin float-label-scaled {
	&:placeholder-shown:not(:focus)+* {
		font-size: 150%;
		opacity: .5;
		@content;
	}
}

/* Default styling
 * https://github.com/tonystar/float-label-css/blob/master/scss/float-label.scss
 */

.b-holder-float-label {
	@include float-label-container;
	@include float-label;
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	input,
	select {
		@include float-label-input;
		font-size: inherit;
		padding-top: 1em;
		margin-bottom: 2px;
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid rgba(0, 0, 0, .1);
		@include float-label-scaled {
			top: .25em;
		}
		&:focus {
			outline: none;
			border-color: rgba(0, 0, 0, .5);
		}
	}
	select {
		padding-right: 1em;
		background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
		background-size: 8px 10px;
	}
}



//Footer
footer {
	//background-color: $black;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	ul {
		display: flex;
		flex-direction: row;
		li {
			padding: 1em 1.5em;
			a {
				color: $white;
			}
		}
	}
	p {
		padding: 0.5em 3em;
		color: $white;
	}
}

@media (min-width: 640px) {
	footer {
		flex-direction: row;
		justify-content: space-between
	}
}