//Imports
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

// Variables
$black: #333;
$shadow: rgba(51, 51, 51, 0.466);
$white: #fff;
$bg-prim: #33ccff;
$bg-sec: #ff99cc;
$bg-color: linear-gradient(to bottom right, $bg-prim 0%, $bg-sec 100%);

// Basic html rules
* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	color: $black;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	transition: 0.3s linear;
}

a:hover {
	opacity: 1;
}

//Main
.b-holder-main {
	display: flex;
	flex-direction: column;
	background: $bg-color;
}

//Navbar
.e-navbar-logo {
	width: 4em;
}

nav {
	display: flex;
	justify-content: space-between;
}

.b-holder-logo {
	margin: 1em 2em;
	opacity: 0.75;
}

.b-holder-navlinks {
	display: flex;
	li {
		margin: 2em 3em;
		a {
			font-size: 2rem;
			color: $white;
			font-weight: 500;
		}
	}
}

//Greeting
.b-holder-greetings {
	display: flex;
	padding: 10em 0;
	flex-direction: column;
	align-items: center;
	.e-text-greet {
		font-weight: 400;
		font-size: 4rem;
	}
	.e-text-greet-sub {
		font-size: 2rem;
		font-weight: 400;
		width: 50%;
		text-align: center;
	}
}

.e-text-category {
	text-align: center;
	font-size: 2.8rem;
	text-transform: uppercase;
	font-weight: 400;
}

.e-text-category-sub {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 400;
}
//About

.b-holder-about {
	background-color: $white;
	padding: 10em 0;
	transform: skew(0deg, -5deg);
	.m-title-category {
		transform: skew(0deg, 5deg);
	}
	.m-subtext-category {
		transform: skew(0deg, 5deg);
		margin: 0 auto;
		text-align: justify;
		width: 70%;
	}
}

//Projects
.b-holder-project {
	padding: 20em 0;
}

.b-holder-projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.b-container-project {
	background-color: $white;
	width: 30em;
	height: 20em;
	margin: 2em 5em;
	border-radius: 0.5em;
	box-shadow: 0 0.2em 4em $shadow;
}


//Contact
.b-holder-contact {
	padding: 20em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	.b-holder-form {
		display: flex;
		flex-direction: column;
		width: 40%;
		.e-input-contact {
			border: none;
			padding: 1em 0.4em;
			background-color: transparent;
			border-bottom: $black solid 0.2em;
		}

		.e-input-contact:focus {
			outline: none;
		}

		.e-text-label {
			color: $white;
			font-size: 1.6rem;
			transform: scale(2);
		}
	}
}





//Footer
footer {
	//background-color: $black;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	ul {
		display: flex;
		flex-direction: row;
		li {
			padding: 1em 1.5em;
			a {
				color: $white;
			}
		}
	}
	p {
		padding: 0.5em 3em;
		color: $white;
	}
}

@media (min-width: 640px) {
	footer {
		flex-direction: row;
		justify-content: space-between
	}
}