@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #333; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  opacity: 0.75;
  transition: 0.3s linear; }

a:hover {
  opacity: 1; }

.b-holder-main {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%); }

.e-navbar-logo {
  width: 4em; }

nav {
  display: flex;
  justify-content: space-between; }

.b-holder-logo {
  margin: 1em 2em;
  opacity: 0.75; }

.b-holder-navlinks {
  display: flex; }
  .b-holder-navlinks li {
    margin: 2em 3em; }
    .b-holder-navlinks li a {
      font-size: 2rem;
      color: #fff;
      font-weight: 500; }

.b-holder-greetings {
  display: flex;
  padding: 10em 0;
  flex-direction: column;
  align-items: center; }
  .b-holder-greetings .e-text-greet {
    font-weight: 400;
    font-size: 4rem; }
  .b-holder-greetings .e-text-greet-sub {
    font-size: 2rem;
    font-weight: 400;
    width: 50%;
    text-align: center; }

.e-text-category {
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 400; }

.e-text-category-sub {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400; }

.b-holder-about {
  background-color: #fff;
  padding: 10em 0;
  transform: skew(0deg, -5deg); }
  .b-holder-about .m-title-category {
    transform: skew(0deg, 5deg); }
  .b-holder-about .m-subtext-category {
    transform: skew(0deg, 5deg);
    margin: 0 auto;
    text-align: justify;
    width: 70%; }

.b-holder-project {
  padding: 20em 0; }

.b-holder-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.b-container-project {
  background-color: #fff;
  width: 30em;
  height: 20em;
  margin: 2em 5em;
  border-radius: 0.5em;
  box-shadow: 0 0.2em 4em rgba(51, 51, 51, 0.466); }

.b-holder-contact {
  padding: 20em 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .b-holder-contact .b-holder-form {
    display: flex;
    flex-direction: column;
    width: 40%; }
    .b-holder-contact .b-holder-form .e-input-contact {
      border: none;
      padding: 1em 0.4em;
      background-color: transparent;
      border-bottom: #333 solid 0.2em; }
    .b-holder-contact .b-holder-form .e-input-contact:focus {
      outline: none; }
    .b-holder-contact .b-holder-form .e-text-label {
      color: #fff;
      font-size: 1.6rem;
      transform: scale(2); }

/* Default styling
 * https://github.com/tonystar/float-label-css/blob/master/scss/float-label.scss
 */
.b-holder-float-label {
  display: block;
  position: relative; }
  .b-holder-float-label label,
  .b-holder-float-label > span {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all .2s; }
  .b-holder-float-label select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .b-holder-float-label input,
  .b-holder-float-label select {
    font-size: inherit;
    padding-top: 1em;
    margin-bottom: 2px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
    .b-holder-float-label input::placeholder,
    .b-holder-float-label select::placeholder {
      opacity: 1;
      transition: all .2s; }
    .b-holder-float-label input:placeholder-shown:not(:focus)::placeholder,
    .b-holder-float-label select:placeholder-shown:not(:focus)::placeholder {
      opacity: 0; }
    .b-holder-float-label input:placeholder-shown:not(:focus) + *,
    .b-holder-float-label select:placeholder-shown:not(:focus) + * {
      font-size: 150%;
      opacity: .5;
      top: .25em; }
    .b-holder-float-label input:focus,
    .b-holder-float-label select:focus {
      outline: none;
      border-color: rgba(0, 0, 0, 0.5); }
  .b-holder-float-label select {
    padding-right: 1em;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.5em bottom 0.25em;
    background-size: 8px 10px; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem; }
  footer ul {
    display: flex;
    flex-direction: row; }
    footer ul li {
      padding: 1em 1.5em; }
      footer ul li a {
        color: #fff; }
  footer p {
    padding: 0.5em 3em;
    color: #fff; }

@media (min-width: 640px) {
  footer {
    flex-direction: row;
    justify-content: space-between; } }

/*# sourceMappingURL=styles.css.map */
