/* General styles*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: 'Quicksand',sans-serif;
	color: #1D1419;
}
body { background-color: #F5EDE9; }

.article-about-me {
	margin: 2em 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article-about-me__image {
	width: 40em;
	height: 40em;
	border: #683A3F solid 1px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow:hidden;
}

.article-about-me__image img { width: 100%; }

.article-about-me__title {
	font-size: 4rem;
	text-transform: uppercase;
	margin-top: 1em;
}

.article-about-me__text {
	margin-top: 0.5em;
	font-size: 2rem;
}

.footer-contact {
	text-align: center;
	margin-top: 4em;
}
.footer-contact__text { font-size: 2rem; }

.footer-contact__link {
	text-decoration: none;
	color: #CB8787;
	transition: 0.2s linear;
}
.footer-contact__link:hover {
	color: #683A3F;
}
.footer-contact__icon {
	font-size: 48px;
	padding: 0 0.4em;
}
