$inputs-background-color: #1ea896;
$font-color: #4c5454;
$action-font-color: #ffffff;
$action-background-color: #ff715b;
$body-bg-color: #523f38;
$container-bg-color: #ffffff;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body {
	background-color: $body-bg-color;
}

.container {
	width: 40%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: $container-bg-color;
	margin-top: 5em;
	padding: 2em;
	border-radius: 1em;
}
.e-textarea-comment {
	width: 100%;
}

.b-btn-container {
	display: flex;
	justify-content: center;
}

ul {
	list-style: none;
	display: flex;
}

.checkbox-ul {
	flex-direction: column;
}

li {
	margin: 0.5em;
}

.float {
	display: flex;
	flex-flow: column-reverse;
	margin-bottom: 1em;
}

.float-label,
.float-input {
	transition: all 0.2s;
	touch-action: manipulation;
}

.float-input {
	font-size: 1.5em;
	border: 0;
	border-bottom: 2px solid lighten($body-bg-color, 50%);
	font-family: inherit;
	-webkit-appearance: none;
	border-radius: 0;
	padding: 0;
	cursor: text;
}

.float-input:focus {
	outline: 0;
	border-bottom: 2px solid $body-bg-color;
}

.float-label {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	pointer-events: none;
}

.float-input:placeholder-shown + .float-label {
	cursor: text;
	max-width: 66.66%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform-origin: left bottom;
	transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
	opacity: 0;
	transition: inherit;
}

.float-input:focus::-webkit-input-placeholder {
	opacity: 1;
}

.float-input:not(:placeholder-shown) + .float-label,
.float-input:focus + .float-label {
	transform: translate(0, 0) scale(1);
	cursor: pointer;
}

#submit {
	background-color: $action-background-color;
	padding: 1em 2em;
	border: none;
	border-radius: 0.4em;
	color: $action-font-color;
}

#submit:hover {
	transition: 0.2s linear;
	background-color: darken($action-background-color, 7.5%);
	cursor: pointer;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: $font-color;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid $font-color;
	border-radius: 100%;
	background: $container-bg-color;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $inputs-background-color;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}

[type="radio"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: $font-color;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid $font-color;
	border-radius: 20%;
	background: $container-bg-color;
}

[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $inputs-background-color;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 20%;
	transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}

[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
