@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lato');

body {
  background-color: #F3EFE0;
}

#location, #weatherTemp {
  font-family: 'Bree Serif', serif;
}

#weatherinfo, #toggler {
  font-family: 'Lato', sans-serif;
}

#location {
  font-size: 56px;
}

#weatherTemp {
  font-size: 70px;
}

#weatherinfo {
  font-size: 36px;
}

#weatherIcon {
  font-size: 70px;
  
}

.mainHolder {
  padding-top: 150px;
}